/* Layout's style*/

.mainContainer {
  font-family: 'Public Sans', sans-serif;
  background-color: #f6f6f6;
  height: 100vh;
}

.header {
  background-color: #6d6ef6;
  box-shadow: 0px 0px 2px 5px #6d6ef6;
  color: white;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1.5em;
}

.logo {
  font-size: 1.8rem;
  background-color: #4b4cd4;
  width: 200px;
  border-radius: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 5px;
  padding: 0px 8px;
  user-select: none;
}

.logo:hover {
  cursor: pointer;
}

.menu ul {
  display: flex;
  list-style-type: none;
}

.menu ul li {
  background-color: #4b4cd4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0em 0.3em;
}
.menu ul li:hover {
  cursor: pointer;
  background-color: #ffbf46;
  color: black;
}

.searchBar {
  height: 50px;
  width: 700px;
  background-color: #4b4cd4;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em 1.5em;
}

.searchForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.searchForm input {
  width: 610px;
  font-size: 1rem;
  border: none;
  background-color: #dee5e5;
  outline: none;
  border-radius: 5px;
  padding: 0.3em 1em;
  font-family: 'Public Sans', sans-serif;
}

/* typography */
